.btnOutline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  height: 48px;
  padding: 12px 20px;

  border-radius: 5px;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);

  transition: all 0.2s ease-in;
}

.btnOutline:hover {
  background-color: var(--accent);
  color: var(--white);
}

.btnOutline:active {
  position: relative;
  top: 1px;
}
